<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myProject</title>
</head>
<body>
    <h1>{{message}}</h1>
    <p>this is a simple test page for your Auth API</p>
    <ul>
        <li>POST/api/auth/signup</li>
        <li>POST/api/auth/forgot-password</li>
        <li>POST/api/auth/reset-password/:token</li>
    </ul>
</body>
</html>